* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}


nav {
    background-color: #0084fd;
    width: 100%;
    height: 75px;

    display: flex;
    justify-content: space-between;
    
    padding: 32px;
}


.links {
    display: none;
}

menu a {
    color: white;
    text-decoration: none;
}



.logo img {
    width: 60px;
}

.hamburger .fa-solid {
color: white;
}

/* start hero */


.hero {
    padding-top: 30px;
    padding-bottom: 30px;
    /* test */
    background-color: white;
    
}


.box, .second-box {

    margin: 0px 15px 25px 15px;
    border-radius: 15px;
    background-color: #b5ddff;

}

.box.mainbox {

    margin-top: 50px;
}

.box-content {
    padding: 0px 30px 0px 30px;
}

.blue-text {
    font-weight: bold;
    font-size: 21px;
    color: #2e9afe;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 40px;
}

.box-content p {
    margin-bottom: 36px;
}


.box-content a {
    color: white;
    text-decoration: none;
    background-color: #0084fd;
    padding: 10px 20%;
    border-radius: 25px;
    text-align: center;
}

.box-content .txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box-content img {
    display: block;
    width: 250px;
}

.box-content .fa-solid {
    font-size: 80px;
    color: #0084fd;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 40px;

}

.box .box-content .txt {
    margin-top: 36px;
}

.box-content .txt p {
    text-align: center;
}


/* end hero */

/* start planning */
.planning {
    background-color: #9792e4;
    margin-top: 78px;
    padding-bottom: 40px;
}

.planning-content {
    padding: 29px;
}

.app-content img,.planning-content img  {
    width: 100%;

}

.planning-title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 60px;

}


.app-content {
    padding: 24px;
}


.app-develop {

    background-color: white;    
    border-radius: 35px; 
    margin: 32px;
}  

.app-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.app-content p {
    margin-bottom: 30px;
    text-align: center;
}

.app-button .fa-solid {
    background-color: #9792e4;
    padding: 15px;
    border-radius: 50%;
    margin: auto;
    width: 40px;
    height: 40px;
}

.app-button {
    display: flex;
    text-align: center;
}

/* end planning */

/* start testimonial */


.test-text {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.test-box {
    border-radius: 35px;
    margin: 30px 30px;
    background-color: #9792e4;

}

.test-content {

    margin: auto;
    padding: 15px 25px 0px 25px;

    color: white;
    width: 100%;
}

.test-content p {
    margin-bottom: 30px;
}

.test-title {
    margin-bottom: 30px;
}

.test-text h2 {
    font-size: 33px;
    color: #9792e4;
}

.test-box {
    background-color: #9792e4;
    border-radius: 35px;
    margin: 30px 30px;
}

.testimonial-image {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.test-name {
    font-size: 19px;
    font-weight: bold;

    padding-bottom: 30px;
}


/* end testimonial */

/* start benefits */

.benefits {

    padding-bottom: 40px;
    margin-bottom: 40px;
    background-color: #9792e4;
}

.benefits h3 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 70px 0 45px 0;
}

.benefits-box {
    border-radius: 15px;
    margin: 30px;
    background-color: white;
}

.benefits-content {
    padding: 45px 30px;
}

.no-title {
    font-weight: bold;
    font-size: 40px;
    color: #9792e4;
    margin-bottom: 35px;
}

.benefits-title {
    font-weight: bold;
    margin-bottom: 35px;
    font-size: 25ox;
    color: #9792e4;
}

.benefits-content p {
    margin-bottom: 35px;

}

.benefits-content a {
    background-color: #9792e4;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 25px;
}

/* end benefits */

/* start about us */

.about-us {
    margin-bottom: 50px;

}

.info {
    padding: 40px 30px 0px 30px;
}


.info h2 {
    color: #9792e4;
    margin-bottom: 50px;
    font-size: 35px;
}

.info p {
    margin-bottom: 60px;
}

.quote-picture{
    padding: 0px 30px 20px 30px;
    position: relative;
}

.quote-picture .fa-solid {
    position: absolute;
    top: 0;
    left: 150px;

    font-size: 55px;
    color: #9792e4;
}

.quote-picture img {
    max-height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.quote-text {
    margin-bottom: 30px; 
    color: #9792e4;
    font-size: 25px;
    padding: 0px 30px;
}

.quote a {
    color: white;
    text-decoration: none;
    background-color: #9792e4;
    padding: 5px 10px;
    border-radius: 25px;
    margin: 0px 30px;
    font-size: 15px;
}

/* end about us */



/* start get-started */

.get-started {
    background-color: #9792e4;
}

.gs-content {
    padding: 60px 30px;
}

.title {
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.simple {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.free {
    color: #fdc15f;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;

}

.gs-info {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
}

.gs-link {
    display: flex;
    justify-content: center;
}

.gs-link > a {
    color: #9792e4;
    background-color: white;
    padding: 15px 65px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

.copyright {
    margin-top: 40px;
    color: white;
    font-size: 12px;
    text-align: center;
}


/* end get-started */

/* start footer */

footer {
    padding: 30px 0;
    
    background-color: #333333;
}

footer div {

    height: 100px;
    width: 200px;
    color: white;
    border: 2px solid red;
    /* test */


}

/* end footer */

/* media query 768px */

@media screen and (min-width: 768px) {
    
    /* start responsive hero */
    .demo {
        display: flex;
        flex-wrap: nowrap;
    }
    
    .box.mainbox {
        width: calc(100% / 3 * 2 - 25px);
    }
    
    .second-box {
        width: calc(100% / 3 - 20px);
        margin-top: 48px;
        background-color: #b5ddff;
        border-radius: 15px;
        max-height: 600px;
    }
    
    .bottom-hero {
        display: flex;
    }
    
    .box {
        width: calc(100% / 3);
        
    }

    /* end responsive hero */

    .responsive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .benefits-box {
        width: 40%;
    } 

    .about-us {
        display: flex;
        justify-content: center;
    }

    .test-box {
        display: flex;
        justify-content: center;
    }


}

@media screen and (min-width: 992px) {
    .links {
        display: flex;
    }

    .demo {
        display: flex;
        flex-wrap: nowrap;
    }

    .planning {
        display: flex;
        justify-content: center;
    }

    .strategic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .responsive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .benefits-box {
        width: calc(100% / 3 - 100px);
    }



}

@media screen and (min-width: 1200px) {
    .mainbox {
        display: flex;
    }
}


