* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}


nav {
    background-color: #0084fd;
    width: 100%;
    height: 75px;

    display: flex;
    justify-content: space-between;
    
    padding: 32px;
}


.links {
    display: none;
}

menu a {
    color: white;
    text-decoration: none;
}



.logo img {
    width: 60px;
}

.hamburger .fa-solid {
color: white;
}

/* start hero */


.hero {
    padding-top: 30px;
    padding-bottom: 30px;
    /* test */
    background-color: white;
    
}


.box, .second-box {

    margin: 0px 15px 25px 15px;
    border-radius: 15px;
    background-color: #b5ddff;

}

.box.mainbox {

    margin-top: 50px;
}

.box-content {
    padding: 0px 30px 0px 30px;
}

.blue-text {
    font-weight: bold;
    font-size: 21px;
    color: #2e9afe;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 40px;
}

.box-content p {
    margin-bottom: 36px;
}


.box-content a {
    color: white;
    text-decoration: none;
    background-color: #0084fd;
    padding: 10px 20%;
    border-radius: 25px;
    text-align: center;
}

.box-content .txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box-content img {
    display: block;
    width: 250px;
}

.box-content .fa-solid {
    font-size: 80px;
    color: #0084fd;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 40px;

}

.box .box-content .txt {
    margin-top: 36px;
}

.box-content .txt p {
    text-align: center;
}


/* end hero */

/* start planning */
.planning {
    background-color: #9792e4;
    margin-top: 78px;
    padding-bottom: 40px;
}



.app-content {
    padding: 24px;
}


.app-develop {

    background-color: white;    
    border-radius: 35px; 
    margin: 32px;
}    

/* end planning */

/* start testimonial */

.testimonial {
    padding: 30px 0;
    /* test */
    background-color: white;
}

.test-text {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.test-box {
    border-radius: 35px;
    margin: 30px 30px;
    background-color: #9792e4;

}

.test-content {

    margin: auto;
    padding: 15px 25px 0px 25px;

    color: white;
    width: 100%;

}

/* end testimonial */

/* start benefits */

.benefits {
    padding: 30px 0;
    /* test */
    background-color: #9792e4;
}

.benefits-box {
    border-radius: 15px;
    margin: 30px;
    background-color: white;
}

/* end benefits */

/* start about us */

.about-us {
    margin-bottom: 50px;

}

.info {
    padding: 40px 30px 0px 30px;
}

.quote-picture{
    padding: 0px 30px 20px 30px;
}



/* end about us */

/* start get-started */

.get-started {
    padding: 30px 0;
    /* test */

    background-color: #9792e4;
}


/* end get-started */

/* start footer */

footer {
    padding: 30px 0;
    
    background-color: #333333;
}

footer div {

    height: 100px;
    width: 200px;
    color: white;
    border: 2px solid red;
    /* test */


}

/* end footer */

/* media query 768px */

@media screen and (min-width: 768px) {
    
    /* start responsive hero */
    .demo {
        display: flex;
        flex-wrap: nowrap;
    }
    
    .box.mainbox {
        width: calc(100% / 3 * 2 - 25px);
    }
    
    .second-box {
        width: calc(100% / 3 - 20px);
        margin-top: 48px;
        background-color: #b5ddff;
        border-radius: 15px;
        max-height: 600px;
    }
    
    .bottom-hero {
        display: flex;
    }
    
    .box {
        width: calc(100% / 3);
        
    }

    /* end responsive hero */

    .responsive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .benefits-box {
        width: 40%;
    } 

    .about-us {
        display: flex;
        justify-content: center;
    }

    .test-box {
        display: flex;
        justify-content: center;
    }


}

@media screen and (min-width: 992px) {
    .links {
        display: flex;
    }

    .demo {
        display: flex;
        flex-wrap: nowrap;
    }

    .planning {
        display: flex;
        justify-content: center;
    }

    .strategic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .responsive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .benefits-box {
        width: calc(100% / 3 - 100px);
    }

}

@media screen and (min-width: 1200px) {
    .mainbox {
        display: flex;
    }
}

